:root {
  --blue-text: #2196f3;
  --black-text: #212121;
  --black: #000000;
  --grey-text: #757575;
  --dark-grey: #2f303a;
  --light-grey: #f5f4fa;
  --white-text: #ffffff;
  --white-text-op60: rgba(255, 255, 255, 0.6);
  --bg-white: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
a,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

footer {
  background-color: var(--dark-grey);
}

.header {
  min-height: 80px;
  background: var(--white-text);
  color: var(--black-text);
}

.menu {
  display: flex;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}

.site-nav {
  display: flex;
  margin-left: 0;
}

.header .link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.site-nav-item {
  margin-right: 50px;
}

.site-nav-item:last-child {
  margin-right: 0px;
}

.link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue-text);
}

.logo-header {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  margin-left: 0;
}

.logo-header,
.logo-color,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-color {
  color: var(--blue-text);
}

.logo-header {
  color: var(--black);
}

.logo-footer {
  color: var(--white-text);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--blue-text);
}

.contacts {
  display: flex;
  justify-content: flex-end;
  padding: 32px 0;
  margin-left: auto;
}

.header .mail,
.header .tel {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-text);
}

.contacts-item {
  margin-right: 50px;
}

.contacts-item:last-child {
  margin-right: 0px;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--blue-text);
}

/* Секция "Герой" */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--dark-grey);
}

.hero-title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}

.btn-order {
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--blue-text);
}

.btn-order:hover,
.btn-order:focus {
  color: var(--black);
}

/* Секция "Преимущества" */

.advantages {
  padding: 94px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-item:last-child {
  margin-right: 0px;
}

.advantages .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.advantages .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--grey-text);
}

/* Секция "Чем мы занимаемся" */
.directions {
  padding-top: 0;
  padding-bottom: 79px;
}

.directions-list {
  display: flex;
  flex-wrap: wrap;
}

.directions-title {
  padding-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.directions-item {
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.directions-item:last-child {
  margin-right: 0px;
}

/* Секция "Наша команда" */

.team {
  padding: 94px;
  background-color: var(--light-grey);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
  background-color: var(--bg-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-item img {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team .member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team .post {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}

/* Footer */
.footer {
  padding: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.contacts-footer p {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.contacts-footer .tel {
  margin-bottom: 9px;
}

.contacts-footer .tel,
.contacts-footer .mail {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-op60);
}

.contacts-footer a:hover,
.contacts-footer a:focus {
  color: var(--blue-text);
}

/* Портфолио */

.projects .btn {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background-color: var(--light-grey);
}

.projects .btn:hover,
.projects .btn:focus {
  color: var(--white-text);
  background-color: var(--blue-text);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}
